.table-one {
    width: 100;
border: 1px solid #CCC;
}

.table-one > tbody > tr > td, .table-one > thead > tr > td {
    border: 1px solid #CCC;
    min-height: 50px;
    padding: .5em;   
}

.add-button {
    font-size: bold;
    float: right;
    margin: 10px;
}

.add-student-button {
    margin: 10px;
}