<div class="main-container-grid">
  <div class="align-center">r2c1</div>
  <div class="align-center">
    <!-- <button (click)="addStudent()" class="add-button">Add Student</button> -->
    <button (click)="addStudent()" type="button" class="align-right btn btn-default add-button" aria-label="Left Align">
      Add Student
    </button>
    <button (click)="saveStudent()" type="button" class="align-right btn btn-default add-button" aria-label="Left Align">
      Save
    </button>  
    <table class="table-one"> 
     <thead>
       <tr>
         <td>ID</td>
         <td>First Name</td>
         <td>Last Name</td>
         <td>Courses</td>
         <td></td>
       </tr>
     </thead>
     <tbody *ngIf="editMode == false">
       <tr *ngFor="let student of students; let i = index">
          <td>{{student.id}}</td>
          <td>{{student.firstName}}</td>
          <td>{{student.lastName}}</td>
          <td>{{student.course}}</td>
          <td>
            <button (click)="removeStudent(i)" type="button" class="align-right btn btn-default add-button" aria-label="Left Align">
              X
            </button> 
          </td>  
       </tr>
     </tbody>
     <tbody *ngIf="editMode == true">
      <tr *ngFor="let student of students; let i = index">
         <td>
          <input [(ngModel)]="student.id" type="text" class="form-control" placeholder="ID" aria-describedby="basic-addon2">  
         </td>
         <td>
          <input [(ngModel)]="student.firstName" type="text" class="form-control" placeholder="First Name" aria-describedby="basic-addon2">
         </td>
         <td>
          <input [(ngModel)]="student.lastName" type="text" class="form-control" placeholder="Last Name" aria-describedby="basic-addon2">
         </td>
         <td>
          <input [(ngModel)]="student.course" type="text" class="form-control" placeholder="Course" aria-describedby="basic-addon2">
         </td>
         <td>
           <button (click)="removeStudent(i)" type="button" class="align-right btn btn-default add-button" aria-label="Left Align">
             X
           </button> 
         </td>  
      </tr>
    </tbody>
   </table> 
  </div>
  <div class="align-center">r2c3</div>
</div>
