/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/purple-green.css';
* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #00bcd45c;
}


.align-center {
    margin: 15px;   
  }
.nav-button {
    margin-right: 8px !important;
}


.table {
 width: 100;
border: 1px solid #CCC;
}

.table > tbody > tr > td, .table > thead > td {
    border: 1px solid #CCC;
    min-height: 50px;
    padding: .5em;   
}

h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

table {
   table-layout: fixed; 
}
