
<h3>Decision Table</h3>
<table class="table">
  <thead>
    <tr>
      <td>Condition X</td>
      <td>Condition Y</td>
      <td>Not X (!X)</td>
      <td>Not Y (!Y)</td>
      <td>X AND Y (X && Y)</td>
      <td>X OR Y (X || Y)</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cond of conditions">
      <td>{{cond.condX}}</td>
      <td>{{cond.condY}}</td>
      <td>{{!cond.condX}}</td>
      <td>{{!cond.condY}}</td>
      <td>{{cond.condX && cond.condY}}</td>
      <td>{{cond.condX || cond.condY}}</td>
    </tr>
</tbody>
  <tfoot></tfoot>
</table>