<mat-toolbar color="primary" class="main-header">
  <span class="align-center">LOGO</span>
  <div id="banner" class="align-center">
      <button mat-raised-button color="accent" class="nav-button" (click)="goToPage('')">Home</button>
      <button mat-raised-button color="accent" class="nav-button" (click)="goToPage('courses')">Courses</button>
  </div>
  <div class="align-center">
    <!-- <mat-icon class="example-icon">favorite</mat-icon>
    <mat-icon class="example-icon">delete</mat-icon> -->
  </div>
</mat-toolbar>